body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.main {
  flex: 1;
}

.tile-image {
  height: 200px;
  margin-right: 50px;
  float: left;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}
#statement {
  margin: 2rem;
}

#creative {
  display: inline-block;
  position: relative;
  color: midnightblue;
  margin: 0px;
}

@media (max-width:680px){ 
  .logo {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
  }

  .card {
    display:block;
    width: 100%;
    margin-bottom: 1em;
  }

  .card img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
  }

  footer {
    text-align: center
  };

}