body {
  background-color: gold;
}
.container {
  display: grid;
  grid-template-rows: repeat(8, 100px); 
  grid-template-columns: repeat(8, 100px); 

}

.dark {
  background-color: lightseagreen;
}
.light {
  background-color: lightcyan;

}