body {
  background-color: black;
  color: white;
}

img {
  border: 5px solid white;
  margin-top: 2rem;
}

h1 p {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

div {
  text-transform: uppercase;
  text-align: center;
}